//fontes
$fonteBase: Roboto, sans-serif;
$fontStyle: bold;

//cores
$corFundo: #f5f6fa;
$corDoisFundo: #182C61;
$corBranca: #fff;
$corVerde: #44bd32;
$corDoisVerde: #4cd137;

//breakpoints
$tablet: 1023px;
$mobile: 767px;